<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for using myVote!</h2>
    <p>As requested, here is a link to your match results:<br />
    <a href="<%= @url %>"><%= @url %></a></p>
    <p>Keep it handy on the go, and at the voting booth. We're constantly adding more candidates to match you with, so check back often!</p>
    <p>- myVote Team</p>
  </body>
</html>
