<h1><%= @referenda.referenda_title %></h1>
<h2><%= @referenda.referenda_type.humanize %>
<% if @referenda.referenda_amt.present? %>
  <br />Cost: <%= @referenda.referenda_amt %>
<% end %>
</h2>
<p><%= @referenda.referenda_desc %></p>

<!--
<h3>Candidates' Stances</h3>
<table class="detail-table issue-stance-table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Stance</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{candidate.last_name}}</td>
            <td>{{candidate.first_name}}</td>
            <td>{{stance.stance}}</td>
            <td><a href="{{this_will_link_to_candidate}}">More&hellip;</a></td>
        </tr>
    </tbody>
</table>
-->
