<h1>Match Sent!</h1>
<p>We've e-mailed you a link to your match results. Check your e-mail!</p>
<p>An important thing to note is we're always updating our database,
  come back to that link and you'll find more and more candidates to match with.
For now, return to your <%= link_to "match results", match_results_path %> or go back to the <%= link_to "homepage", root_path %>.</p>
</p>
